Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
SQLAlchemy==2.0.31
Werkzeug==3.0.3
PyYAML==6.0.1
Markdown==3.6
python-dotenv==1.0.1
pytest==8.2.2
waitress==3.0.0
gunicorn==22.0.0
